body {
    font-family: Arial, sans-serif;
}

#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.container-fluid {
    padding: 20px;
}
