<div class="sidebar">
    <img src="{{ '/assets/profile.jpeg' | relative_url }}" alt="Profile Photo" class="profile-photo">
    <h2>Susmit's Tech Journal</h2>
    <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/resume.html' | relative_url }}">Resume</a></li>
        <li><a href="{{ '/awesome-repos.html' | relative_url }}">Some Liked Code</a></li>
        <li><a href="{{ '/papers.html' | relative_url }}">Papers</a></li>
        <li><a href="{{ '/connect.html' | relative_url }}">Connect</a></li>
    </ul>
</div>
